{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_remotesupport/session_active

    Student-facing active-session confirmation. The actual capture and
    persistent status bar run on whatever page the student navigates to
    next (see amd/src/event_capture.js and lib.php's before_footer hook),
    not on this page itself.

    Context variables required by this template:
    * heading, info, continueurl, finishurl
}}
<div class="local-remotesupport-session" role="status">
    <p class="local-remotesupport-session-bar">
        <strong>{{heading}}</strong>
    </p>

    <p>{{info}}</p>

    <a class="btn btn-primary" href="{{{continueurl}}}">{{#str}}button_continuebrowsing, local_remotesupport{{/str}}</a>
    <a class="btn btn-danger" href="{{{finishurl}}}">{{#str}}button_finish, local_remotesupport{{/str}}</a>
</div>
